* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
  }
  nav a:hover {
    background-color: #555;
  }

.main-image {
  background-image: url(../img/landscape-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(32, 37, 37);
  background: rgba(250, 255, 255, 0.664);
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

iframe {
  float: right;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: inline-start; 
  width: 360px;
  align-items: center;
}

div.gallery:hover {
  border: 1px solid #777;
  opacity: 0.5;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px 0;
}

article {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
}

footer {
  background-color: #080808;
  color: #ccc;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  }

  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }